* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-weight: 300;
}

.wrapper {
  	font-family: "Source Sans Pro", sans-serif;
	color: white;
	font-weight: 300;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    position: absolute;
    min-height: 100%;
    min-width: 100%;
    
	overflow: hidden;
    
}

.waves {

    
    /* //opacity: 0.2; */
    /* min-height: 100%;
    min-height: 100%; */
    background: repeating-linear-gradient( 45deg, #0000000c, #00000023 3px, #ffffff00 3px, #ffffff00 15px );
    background-size: cover;
    position: relative;
    min-height: 100vh ;
    width: 100%;
    
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}